extends ./main

block content
    div.container
        table.table.table-bordered
            thead
                tr
                    th Nome 
                    th CNPJ 
                    th Telefone 
                    th E-mail
                    th Contato
                    th Ações
            tbody
                tr
                    td Client1
                    td 12346546545
                    td (99)9999999999999
                    td client1@nodejs.com.br
                    td Contato1
                    td
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar
                tr
                    td Client2
                    td 12346546546
                    td (99)9999999999999x
                    td client2@nodejs.com.br
                    td Contato2
                    td
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar
                tr
                    td Client3
                    td 12346546546
                    td (99)9999999999999t
                    td client3@nodejs.com.br
                    td Contato3
                    td
                        button.btn.btn-success(type="button") Editar
                        button.btn.btn-danger(type="button") Deletar


