extends ./main
include ./mixins/form

block content 
    div.container.form-align-top.col-md-8
        h2 Cadastro de Cliente
        form(action="/client" + client.id + "?_method=PUT", method="POST")
            +form(client)